{%extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/publish.css"/>
{% endblock css %}
{% block main_content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div style="margin-top:55px;"></div>
<div id="position" class="auto">
    <a href='/{{request.session.language|default:LANGUAGE_CODE}}/home/'>{% trans 'ホーム'%}</a> &gt; <a href="/{{request.session.language|default:LANGUAGE_CODE}}/home/list/?cat_id={{article.category.id}}&amp;page=1">{{article.category.name}}</a> &gt;{{article.title}}
</div>
<div id="publish">
    <div>{% trans '返信'%}： {{article.user.username}} {% trans 'から投稿した'%}「 {{article.title}}」</div>
    <form method="post" action="{% url 'save_reply' article.id %}">
        {% csrf_token %}
        <textarea name="content" class="content" required></textarea><br/>
        <input class="reply_btn" type="submit" name="submit" value="{% trans '返信'%}"/>
        <div style="clear:both;"></div>
    </form>
</div>

{% endblock main_content %}